In [1]:
# Importing all necessary Libraries

import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

import tensorflow as tf
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

In [2]:
# Reading the dataset

data = pd.read_csv("athlete_events.csv")
data

       ID  ... Medal
0       1  ...   NaN
1       2  ...   NaN
2       3  ...   NaN
3       4  ...  Gold
4       5  ...   NaN
...   ...  ...   ...
1018  570  ...   NaN
1019  571  ...   NaN
1020  572  ...   NaN
1021  572  ...   NaN
1022  572  ...   NaN

[1023 rows x 15 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1023 entries, 0 to 1022
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      1023 non-null   int64
 1   Name    1023 non-null   object
 2   Sex     1023 non-null   object
 3   Age     959 non-null    float64
 4   Height  773 non-null    float64
 5   Weight  776 non-null    float64
 6   Team    1023 non-null   object
 7   NOC     1023 non-null   object
 8   Games   1023 non-null   object
 9   Year    1023 non-null   int64
 10  Season  1023 non-null   object
 11  City    1023 non-null   object
 12  Sport   1023 non-null   object
 13  Event   1023 non-null   object
 14  Medal   112 non-null    object
dtypes: float64(3), int64(2), object(10)
memory usage: 120.0+ KB